<div class="container col-md-6 col-md-offset-3">
  <%= form_for(@paciente) do |f| %>
    <% if @paciente.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>
  
        <ul>
        <% @paciente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <%= f.label :nome, 'Nome completo' %><br>
      <%= f.text_field :nome, :class => "form-control", placeholder:"Seu nome" %>
    </div>
    <div class="form-group">
      <%= f.label :cpf, 'CPF' %><br>
      <%= f.text_field :cpf, :class => "form-control", placeholder: "Seu CPF" %>
    </div>
    <div class="form-group">
      <%= f.label :data_nascimento, 'Data de nascimento' %><br>
      <%= f.date_field :data_nascimento, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :endereco, 'Endereço' %><br>
      <%= f.text_field :endereco, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :bairro, 'Bairro' %><br>
      <%= f.text_field :bairro, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :cidade, 'Cidade' %><br>
      <%= f.text_field :cidade, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :estado %><br>
      <%= f.select( :estado, ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB','PR','PE','PI','RJ','RN','RS','RO','RR','SC','SP','SE','TO' ], {}, { :class => "form-control"}) %>
    </div>
    <div class="form-group">
      <%= f.label :plano_de_saude, 'Plano de Saúde' %><br>
      <%= f.select(:plano_de_saude, [ "Abet/Plamtel", "Allianz/AGF", "Amafresp", "Amhpla", "Amil", "Assefaz", "Bradesco", "Bardella", "Cabesp", "Care Plus", "Cassi", "Economus", "FUSEX", "Gama", "Geap", "Golden Cross", "Hospital Adventista", "Intermedica", "Lincx", "Maritima", "Medial", "Mediservice", "Notre Dame", "Omint", "Plas JMU", "Porto Seguro", "Proasa", "Sabesprev", "Spa Saude", "Sul América", "Unimed" ], {}, { :class => "form-control"}) %>
    </div>
    <div class="form-group">
      <%= f.label :num_registro, 'Numero do Registro no plano' %><br>
      <%= f.text_field :num_registro, :class => "form-control" %>
    </div>
    <div class="form-group center-block">
      <%= f.submit 'Salvar', :class => 'btn btl-lg btn-primary center-block' %>
    </div>
  <% end %>
</div>