<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<body>
    <div class="container col-md-10 col-md-offset-1">
        <div class="jumbotron">
          <h1 class="display-3">Painel do Paciente</h1>
          <p class="lead"><%= @paciente.nome%> </p>
          <p class="lead">Endereço: <%= @paciente.endereco %>, <%=@paciente.bairro%> - <%=@paciente.cidade%>, <%= @paciente.estado %></p>
        </div>
        <h2>Consultas marcadas</h2>
        <br>
        <div>
            <div class="input-group">
              <input type="text" class="form-control" id="busca" onkeyup="buscar()" placeholder="Buscar por data...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Buscar</button>
              </span>
            </div>
        </div>
        <table class="table" id="consultas">
          <thead>
            <tr>
              <th>Data</th>
              <th>Horario</th>
              <th>Paciente</th>
              <th>Convenio</th>
              <th>Acoes</th>
            </tr>
          </thead>
          <tbody>
            <% @paciente.atendimentos.each do |consulta| %>
              <tr>
                <td><%= consulta.data %></td>
                <td><%= consulta.horario %></td>
                <td><%= consulta.paciente.nome %></td>
                <td><%= consulta.paciente.plano_de_saude %></td>
                <td><%= link_to 'Excluir', paciente_atendimento_path(paciente_id: @paciente, id: consulta.id),:method => :delete, :class=>"btn btn-danger btn-sm" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br><br>
        <%= link_to 'Nova consulta', new_paciente_atendimento_path(@paciente), :class => "btn btn-danger" %>
    </div>
</body>
